
*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
body{
    color: #000080;
    background: #eee;
}
footer{
    padding-top: 50px;
    text-align: center;
    opacity: 0.3;
}
.main{
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
